html,
body {
  background: rgb(180,160,105);
background: linear-gradient(180deg, rgba(180,160,105,1) 19%, rgba(198,198,198,1) 82%);
  color: black;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.pageContainer {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}


.header {
  background-color: #B4A069;
  height: 5vh;
  max-height: 150px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  padding-left: 20px; /* Adds space on the left to align the text better */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.logo a {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem; /* Adjust font size */
  font-weight: 600;  /* Use a semi-bold font weight for emphasis */
  color: white;
  text-decoration: none; /* Removes underline */
}

.logo a:hover {
  color: #ffffff; /* Optional: you can adjust the hover effect */
}


.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  /* Full height of the viewport */
  width: 100vw;
  position: relative;
  object-fit: cover;
}

.page img {
  position: absolute;
  z-index: 1;
  width: 1000px;
  height: auto;
  max-height: 1080px;
  max-width: auto;
  border-radius: 20px;
}

.footer {
  background-color: #C6C6C6;
  height: 10vh;
  max-height: 100px;
  z-index: 1;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 10px;
}

.footer a {
  color: black;
}

.login {
  background-color: rgba(99, 99, 99, 0.9); 
  color: white;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  z-index: 2;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Center the form elements inside the box */
  align-items: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);  
}

.login h1 {
  text-align: center;
  margin-bottom: 20px;
}

.login form {
  width: 100%;
}

.login label {
  width: 100%; /* Make labels full width */
  text-align: left; /* Align text to the left */
  margin: 5px 0; /* Add some vertical spacing */
}

.login input {
  border-radius: 5px;
  border-width: 0px;
  opacity: revert;
}

.login input:hover {
  border: 10px;
}

.login button {
  background-color: #B4A069;
  color: #FFFFFF;
  border-radius: 8px;  /* Make button more rounded */
  padding: 12px 20px;  /* Increase the padding to make the button bigger */
  font-size: 20px;  /* Increase button font size */
  cursor: pointer;  
  width: auto;
  max-width: 200px;
  margin-top: 10px;
}

.button-container {
  text-align: center;  /* Center the content inside the container */
  width: 100%;         /* Make sure the container takes up the full width */
  margin-top: 15px;
  margin-bottom: 15px; /* Add some margin for spacing */
}

.button-container button {
  width: auto;         /* Keep the button size as auto (based on content) */
  max-width: 200px;    /* Optional, you can limit the button width */
}

.login button:hover {
  background-color: #7c6c40;
}

.login input {
  width: 100%; /* Make the inputs and buttons full width */
}

.login a {
  color: white;
  text-decoration: underline;
  font-style: italic;
  margin-top: 10px;
}

.login a:hover {
  color: #dddddd;
}

#forgotPasswordContainer {
  text-align: right;
  margin-bottom: 20px;
  font-size: 0.75rem;
}

#createAccountContainer {
  text-align: center;
  font-size: .75rem;
}

.register{
  background-color: rgb(99, 99, 99, 0.9);  
  width: 512px;
  max-width: 600px;
  max-height: 1000px;
  color: white;
  position: relative;
  z-index: 2;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.register label {
  width: 100%; /* Make labels full width */
  text-align: left; /* Align text to the left */
  margin: 5px 0; /* Add some vertical spacing */
}

.register input {
  width: 100%;
  border-radius: 5px;
  border-width: 0px;
}

.register input:hover {
  border: 10px;
}

.register button {
  background-color: #B4A069;
  color: #FFFFFF;
  border-radius: 5px;
 
}

.register button:hover {
  background-color: #7c6c40;
}

.register a {
  color: white;
  text-decoration: underline;
  font-style: italic;
}

.register a:hover {
  color: #dddddd;
}

.messagePopUp {
  background-color: rgb(99, 99, 99, 0.9); 
  border-radius: 10px;
  width: 500px;
  height: 50px;
  background-color: grey;
  z-index: 2;
  text-align: center;
  align-content: center;
}

.messagesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.forgot {
  background-color: rgb(99, 99, 99, 0.9);  
  color: white;
  width: 512px;
  padding: 20px;
  padding-bottom: 40px;
  max-width: 600px;
  max-height: 1000px;
  border-radius: 10px;
  z-index: 2;
  display: flex;
  position: relative; /*absolute*/
  top: 10%; /*new addition*/
  flex-direction: column;
  justify-content: baseline; /*center*/
  align-items: center;/*flex-start;*/
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.forgot label {
  width: 100%; /* Make labels full width */
  text-align: left; /* Align text to the left */
  margin: 5px 0; /* Add some vertical spacing */
}

.forgot input {
  width: 100%;
  border-radius: 5px;
  border-width: 0px;
}

.forgot input:hover {
  border: 10px;
}

.forgot button {
  background-color: #B4A069;
  color: #FFFFFF;
  border-radius: 5px;
  position:absolute;
  right: 43%;
  bottom: 5%;
  padding: 2% 3%;
}

.forgot button:hover {
  background-color: #7c6c40;
}

.forgot a {
  color: white;
  text-decoration: underline;
  font-style: italic;
}

.forgot a:hover {
  color: #dddddd;
}
