{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<div class="page">
    <div class="login">
        <form method="POST">
            <h1> Forgot Password? Reset via Email</h1>
            <Label for="Email">Email:</Label>
            <input type="email" name="email" placeholder="(e.g., abc@gmail.com)"> <br><br>
            <label for="Username">User Name:</label>
            <input type="text" name="username" placeholder="(e.g., BSmith4586)"><br><br>
            <div class="button-container">
                <button type="submit" id="submit"> Submit </button>
            </div>
        </form>

    </div>

</div>
{% endblock %}