{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content%}


<h1>Welcome, {{ user.first_name }} {{ user.last_name }}!</h1>
<div class="userProfileContainer">
    <div class="userProfile">
        <!-- Profile Picture -->
        <img src={{ url_for('views.pfp', id=current_user.id) }} alt="Profile Picture">

        <!-- Username and Sign Out Button -->
        <div class="userInfo">
            <p>{{ user.username }}</p>
            <a href="./logout"><button id="signout" class="logout">Sign out</button></a>
        </div>
    </div>
</div>


</body>
</html>

<div class="page">
    <div class="dashboard">
        <h1>Dashboard</h1>
        <p>Company ID: {{ user.company_id }}</p>
        <div class="dashboxes">
            {{ viewUsersButton|safe }}
            <a href="{{ eventLogsLink }}"><button id="eventlog" class="dashleft">Event Logs</button></a>
            <a href="{{ journalEntriesLink }}"><button id="journalentry" class="dashleft">Journal Entries</button></a>
            {{ viewAccountsButton|safe }}
        </div>
        <div class="dashboxes">
            <div class="pending-ratio">
                <h1>Pending Journals: 0</h1>
                <!-- place pending journal logic here-->
            </div>
            <div class="pending-ratio">
                <h1>Financial Ratio: 0</h1>
                <!-- Place financial ratio logic here-->
            </div>
        </div>
    </div>
</div>
{% endblock %}