{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content%}


<h1>Welcome, {{ user.first_name }} {{ user.last_name }}!</h1>
<div class="userProfileContainer">
    <div class="userProfile">
        <!-- Profile Picture -->
        <img src={{ url_for('views.pfp', id=current_user.id) }} alt="Profile Picture">

        <!-- Username and Sign Out Button -->
        <div class="userInfo">
            <p>{{ user.username }}</p>
            <a href="./logout"><button id="signout" class="logout">Sign out</button></a>
        </div>
    </div>
</div>


</body>
</html>

<div class="page">
    <div class="dashboard">
        <h1>Dashboard</h1>
        <p>Company ID: {{ user.company_id }}</p>
        <div class="dashboxes">
            {{ viewUsersButton|safe }}
            {{ viewEventsButton|safe }}
            <a href="{{ journalEntriesLink }}"><button id="journalentry" class="dashleft">Journal Entries</button></a>
            {{ viewAccountsButton|safe }}
            {% if dashUser == "manager" %}
            <a href="{{trialBalanceLink}}"><button id="trialBalance" class="dashleft">Trial Balance</button></a>
            <a href="{{balanceSheetLink}}"><button id="balanceSheet" class="dashleft">Balance Sheet</button></a>
            <a href="{{retainedEarningsLink}}"><button id="trialBalance" class="dashleft">Retained Earnings Statement</button></a>
            <a href="{{incomeStatementLink}}"><button id="balanceSheet" class="dashleft">Income Statement</button></a>

            {% endif %}
        </div>
        <div class="dashboxes">
            <div class="pending-ratio">
                <h1>Pending Journals: {{ pending }}</h1>
            </div>
            <div class="pending-ratio">
                <h1 class="{{ratioReputation}}">Financial Ratio: {{ ratio }}</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}