{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<div class="page">

  <div class="register">
    <form method="POST">
      <h1 style="text-align: center;">Register</h1>
      <label for="Firstname">First Name</label> <br />
      <input id="first_name" name="first_name" placeholder="Enter first name"> <br /><br />
      <label for="Lastname">Last Name:</label> <br />
      <input id="last_name" name="last_name" placeholder="Enter last name"> <br /><br />
      <label for="Address Line 1">Address Line 1:</label> <br />
      <input id="addr_line_1" name="addr_line_1" placeholder="Enter address line 1"> <br /><br />
      <label for="Address Line 2">Address Line 2:</label> <br />
      <input id="addr_line_2" name="addr_line_2" placeholder="Enter address line 2"> <br /><br />
      <label for="City">City:</label> <br />
      <input id="city" name="city" placeholder="Enter city"> <br /><br />
      <label for="County">County:</label> <br />
      <input id="county" name="county" placeholder="Enter county"> <br /><br />
      <label for="State">State:</label> <br />
      <input id="state" name="state" placeholder="Enter state abbreviation (GA for Georgia)"> <br /><br />
      <label for="DOB">DOB:</label> <br />
      <input type="date" id="dob" name="dob"> <br /><br />
      <label for="Email">Email: </label> <br />
      <input id="email" name="email" placeholder="Enter email"/> <br /><br />
      <label for="Password1">Password (Must be at least 8 characters long and include a number and special character)</label>
      <input type="password" id="password1" name="password1" placeholder="Enter password"/> <br /> <br />
      <label for="Password2">Password (Confirm)</label>
      <input type="password" id="password2" name="password2" placeholder="Confirm password"/> <br /> <br />
      <label for="Company ID">Do you have a Company ID with us? If so, enter it below.</label>
      <input id="company_id" name="company_id" placeholder="Enter company ID">
      <button type="submit" id="submit">Submit</button> <br />
    </form>
  </div>
</div>
{% endblock %}
