{% extends "base.html" %} {% block title %}Update{% endblock %} {% block content
    %}
    
    <div class="userProfileContainer">
        <div class="userProfile">
            <!-- Profile Picture -->
            <img src="../static/resources/avatar.jpg" alt="avatar">
            
            <!-- Username and Sign Out Button -->
            <div class="userInfo">
                <p>{{ user.username }}</p>
                <a href="./logout"><button class="logout">Sign out</button></a>
            </div>
        </div>
    </div> 
    <div class="page">
        <div class="login">
            <form method="POST">
                <h1> Update Paswsword</h1>
                <Label for="Paswsword">Original Password:</Label>
                <input type="password" name="password" > <br><br>
                <label for="NewPassword">New Password:</label>
                <input type="password" name="newpassword"><br><br>
                <label for="confirmPassword">Confrim New Password:</label>
                <input type="password" name="confirmpassword"><br><br>
                <div class="button-container">
                    <button type="submit" id="submit"> Submit </button>
                </div>
            </form>
    
        </div>
    </div>
    
    {% endblock %}