{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="userProfileContainer">
    <div class="userProfile">
        <!-- Profile Picture -->
        <img src={{ url_for('views.pfp', id=current_user.id) }} alt="Profile Picture">

        <!-- Username and Sign Out Button -->
        <div class="userInfo">
            <p>{{ user.username }}</p>
            <a href="./logout"><button id="signout" class="logout">Sign out</button></a>
        </div>
    </div>
</div>

<div class="page">
    <form method='POST' class="user-form" action="/user?id={{ userInfo.id }}" enctype="multipart/form-data">
        <p>User ID: {{ userInfo.id }}</p>

        <div class="form-grid">
            <div class="form-row">
                <label for='is_activated'>Activated</label>
                <select id="is_activated" name="is_activated">
                    <option value="True" {{ 'selected' if userInfo.is_activated else '' }}>True</option>
                    <option value="False" {{ 'selected' if not userInfo.is_activated else '' }}>False</option>
                </select>
            </div>

            <div class="form-row">
                <label for='username'>Username</label>
                <input id='username' name='username' value='{{ userInfo.username }}'>
            </div>

            <div class="form-row">
                <label for='first_name'>First Name</label>
                <input id='first_name' name='first_name' value='{{ userInfo.first_name }}'>
            </div>

            <div class="form-row">
                <label for='last_name'>Last Name</label>
                <input id='last_name' name='last_name' value='{{ userInfo.last_name }}'>
            </div>

            <div class="form-row">
                <label for='email'>Email</label>
                <input id='email' name='email' value='{{ userInfo.email }}'>
            </div>

            <div class="form-row">
                <label for='addr_line_1'>Address Line 1</label>
                <input id='addr_line_1' name='addr_line_1' value='{{ userInfo.addr_line_1 }}'>
            </div>

            <div class="form-row">
                <label for='addr_line_2'>Address Line 2</label>
                <input id='addr_line_2' name='addr_line_2' value='{{ userInfo.addr_line_2 }}'>
            </div>

            <div class="form-row">
                <label for='city'>City</label>
                <input id='city' name='city' value='{{ userInfo.city }}'>
            </div>

            <div class="form-row">
                <label for='county'>County</label>
                <input id='county' name='county' value='{{ userInfo.county }}'>
            </div>

            <div class="form-row">
                <label for='state'>State</label>
                <input id='state' name='state' value='{{ userInfo.state }}'>
            </div>

            <div class="form-row">
                <label for='dob'>Date of Birth</label>
                <input id='dob' name='dob' type="date" value='{{ userInfo.dob }}'>
            </div>

            <div class="form-row">
                <label for='role'>Role</label>
                <select id='role' name='role'>
                    <option value='administrator' {{ 'selected' if userInfo.role == 'administrator' else '' }}>Administrator</option>
                    <option value='manager' {{ 'selected' if userInfo.role == 'manager' else '' }}>Manager</option>
                    <option value='user' {{ 'selected' if userInfo.role == 'user' else '' }}>User</option>
                </select>
            </div>

            <div class="form-row">
                <label for='image'>Profile Picture</label>
                <input type='file' id='image' name='image'>
            </div>

            <input type="hidden" id="id" name="id" value='{{ userInfo.id }}'>
            
            <!-- Used in testing password expiration -->
            <!-- <div class="form-row">
                <label for='test_expiration'>TEST EXPIRATION</label>
                <input id="start" name="start" type="datetime-local" value='{{ testExpiration }}'>
            </div> -->
        </div>

        <div class="form-buttons">
            <button id="submit" type='submit'>Submit</button>
            <button id="cancel" type='button' onclick="window.location.href='{{ back }}'">Cancel Changes</button>
            <button id="viewsus" type='button' onclick="window.location.href='{{ suspensions }}'">View Suspensions</button>
            <button id="delete" type='button' onclick="window.location.href='{{ delete }}'">Delete User</button>
        </div>
    </form>
</div>

{% endblock %}
