{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="userProfileContainer">
    <div class="userProfile">
        <!-- Profile Picture -->
        <img src={{ url_for('views.pfp', id=current_user.id) }} alt="Profile Picture">

        <!-- Username and Sign Out Button -->
        <div class="userInfo">
            <p>{{ user.username }}</p>
            <a href="./logout"><button class="logout">Sign out</button></a>
        </div>
    </div>
</div>

<div class="page">
    <div class='userDisplay'>

        {{ accounts|safe }}

    </div>
</div>
{% endblock %}